nav {
    background-color: black;
    height: 50px;
    color: white;
}

.center {
    line-height: 50px;
    vertical-align: middle;
}

#equal {
    padding: 0 2.07px;
    margin-left: 12px;
    float: left; 
    font-size: 25px
}

#apple {
    margin-right: 5px;
    padding: 0 ;
    font-size: 25px;
}

#search {
    padding: 0 0.5px;
    float: right;
    font-size: 25px;
    margin-right: 12px;
}

#bell {
    padding: 0 2.07px;
    float: right;
    font-size: 25px;
    margin-right: 12px;
}