<ul>
  <li class="firstlevel">Talent</li>
  <li class="firstlevel">Connections<i class="fas fa-plus plus"></i>
    <ul [hidden]="connectionsHidden">
      <li class="secondlevel">Pipelines</li>
      <li class="secondlevel">Requisition</li>
      <li class="secondlevel">Projects</li>
      <li class="blackline"></li>
    </ul>
  </li>
  <li class="firstlevel">Intelligence<i class="fas fa-plus plus"></i>
      <ul [hidden]="intelligenceHidden">
        <li class="secondlevel">Companies</li>
        <li class="secondlevel">Schools</li>
        <li class="blackline"></li>
      </ul>
  </li>
  <li class="firstlevel">Workspace<i class="fas fa-plus plus"></i></li>
  <li class="firstlevel">Insights</li>
  <li class="firstlevel">Johhny Appleseed</li>
</ul>

